.checkout {
  display: flex;
  background-color: white;
  height: max-content;
  padding: 20px;
}

.checkout-left {
  margin-right: 10px;
}

.checkout-ad {
  width: 100%;
  margin-bottom: 10px;

}

.checkout-title {
  text-transform: capitalize;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

