.home {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 1600px;
	overflow: hidden;
}

.slider {
	display: flex;
}

.img-container {
	min-width: 100%;
	transition: all 0.5s;
}

.home-image {
	width: 100%;
	margin-bottom: -180px;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	z-index: -999;
	height: fit-content;
}

.home-row {
	display: flex;
	z-index: 1;
	margin: 0 5px 0 5px;
}

.btn-left,
.btn-right {
	position: absolute;
	top: 38%;
	transform: translateY(-50%);
	cursor: pointer;
}

.btn-left {
	left: 0;
	margin-left: 10px;
}

.btn-right {
	right: 0;
	margin-right: 10px;
}
